<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Dashtreme Admin - Free Dashboard for Bootstrap 4 by Codervent</title>
  <%- include('common_css') -%>
  
</head>

<body class="bg-theme bg-theme1">
 
<%- include('sidebar_left') -%>

<%- include('header') -%>

<div class="clearfix"></div>

<div class="content-wrapper">
    <div class="container-fluid">

    <div class="row mt-3">
      <div class="col-lg-12">
         <div class="card">
           <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
              <li class="nav-item">
                <a href="javascript:void();" data-target="#contract" data-toggle="pill" class="nav-link active"> <span class="">계약 정보</span></a>
              </li>
              <li class="nav-item">
                <a href="javascript:void();" data-target="#company" data-toggle="pill" class="nav-link"><span class="">계약 회사 정보</span></a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="contract">
                <div class="card-title">새 계약</div>
                <hr>
               <form id="form" method="post" action="/contract/create" enctype="multipart/form-data">
                <div class="form-group">
                 <label for="input-1">계약 이름</label>
                 <input type="text" class="form-control" id="name" name="name" placeholder="계약 이름">
                </div>
                <div class="form-group">
                 <label for="input-2">내용</label>
                 <textarea rows="15" class="form-control" id="desc" name="desc" placeholder="내용"></textarea>
                </div>
                <div class="form-group">
                 <label for="input-3">계약 종류</label>
                 <select class="form-control" name="category" id="category" form="form">
                   <option value="계약1" selected>계약1</option>
                   <option value="계약2">계약2</option>
                 </select>
                </div>
                <div class="form-group">
                 <label for="input-1">계약일</label>
                 <input type="date" class="form-control" id="contract_dt" name="contract_dt" placeholder="계약일">
                </div>
                <div class="form-group">
                 <label for="input-1">계약 시작일</label>
                 <input type="date" class="form-control" id="contract_start_dt" name="contract_start_dt" placeholder="계약 시작일">
                </div>
                <div class="form-group">
                 <label for="input-1">계약 종료일</label>
                 <input type="date" class="form-control" id="contract_end_dt" name="contract_end_dt" placeholder="계약 종료일">
                </div>
                <div class="form-group">
                 <label for="input-3">파일첨부</label>
                 <input type="file" class="form-control" id="file" name="file" multiple>
                </div>
              </div>

              <div class="tab-pane" id="company">
                <div class="card-title">계약 회사 정보</div>
                <hr>
                <form id="company_form" method="post" action="/contract/create" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="input-1">회사 이름</label>
                    <input type="text" class="form-control" id="company" name="company" placeholder="회사 이름">
                  </div>
                  <div class="form-group">
                    <label for="input-1">회사 전화번호</label>
                    <input type="text" class="form-control" id="company_number" name="company_number" placeholder="회사 전화번호">
                  </div>
                  <div class="form-group">
                    <label for="input-1">회사 위치</label>
                    <input type="text" class="form-control" id="company_location" name="company_location" placeholder="회사 위치">
                  </div>
                  <div class="form-group">
                    <form id="employee_form" method="POST">
                      <label for="input-1">담당 직원 <button type="button" id="add_employee" class="btn btn-light px-10"><i class="zmdi zmdi-account-add"></i>추가</button></label>
                      <table id="employee_table" class="table">
                        <thead>
                          <tr>
                            <th>직급</th>
                            <th>이름</th>
                            <th>전화번호</th>
                            <th></th>
                          </tr>
                        </thead>
                        
                        <tbody id="employee_tbody">

                        </tbody>
                        
                      </table>
                    </form>
                  </div>
                 </form>
              </div>
            </div>

           
           
           <div class="form-group">
            <button type="button" id="create" class="btn btn-light px-5"> 작성</button>
            <button type="button" id="cancel" class="btn btn-light px-5"> 취소</button>
          </div>
          </form>
         </div>
         </div>
      </div>

    </div><!--End Row-->

	<!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->

    </div>
    <!-- End container-fluid-->
    
   </div>
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	<!--Start footer-->
	<footer class="footer">
      <div class="container">
        <div class="text-center">
          Copyright © 2018 Dashtreme Admin
        </div>
      </div>
    </footer>
	<!--End footer-->
	
  <!--start color switcher-->
   <div class="right-sidebar">
    <div class="switcher-icon">
      <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
    </div>
    <div class="right-sidebar-content">

      <p class="mb-0">Gaussion Texture</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme1"></li>
        <li id="theme2"></li>
        <li id="theme3"></li>
        <li id="theme4"></li>
        <li id="theme5"></li>
        <li id="theme6"></li>
      </ul>

      <p class="mb-0">Gradient Background</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme7"></li>
        <li id="theme8"></li>
        <li id="theme9"></li>
        <li id="theme10"></li>
        <li id="theme11"></li>
        <li id="theme12"></li>
		<li id="theme13"></li>
        <li id="theme14"></li>
        <li id="theme15"></li>
      </ul>
      
     </div>
   </div>
  <!--end color switcher-->
   
  </div><!--End wrapper-->

  <%- include('common_script') -%>
  
  <script>
    var index = 0;

    $(document).on('click', "#create", function () {
      //var data = $("#form").serialize();
      var formData = new FormData($("#form")[0]);

      console.log(formData);

      $.ajax({ 
        url: "/contract/create",
        data: formData,
        method: 'post',
        dataType: 'json',
        processData : false,
        contentType : false,
        success: function (result) {
          console.dir(result);
          if(result.result == 1){
            location.href = '/contract/list/1';
          }else{
            alert('계약 작성 실패');
          }
        },
        error: function (xhr, status, error) {
          console.log(error);
        }
      })
    })

    $(document).on('click', '#add_employee', function () {
      $('#employee_tbody').append('<tr>' +
        '<td><input type="text" class="form-control" name="employee_rank" placeholder="직급" form="form"></td>' +
        '<td><input type="text" class="form-control" name="employee_name" placeholder="이름" form="form"></td>' +
        '<td><input type="text" class="form-control" name="employee_number" placeholder="전화번호" form="form"></td>' +
        '<td><button class="btn btn-light px-10" name="delete_employee">삭제</td>' +
        '</tr>'
      )

      index++;
    })

    $(document).on('click', 'button[name=delete_employee]', function () {
      var tr = $(this).parent().parent()
      tr.remove();
    })
  </script>
</body>
</html>