<!-- Start wrapper-->
 <div id="wrapper">
 
  <!--Start sidebar-wrapper-->
   <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
     <div class="brand-logo">
      <a href="/">
       <img src="/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
       <h5 class="logo-text">Dashtreme Admin</h5>
     </a>
   </div>
   <ul class="sidebar-menu do-nicescrol">
      <li class="sidebar-header">MAIN NAVIGATION</li>
      <li>
        <a href="index.html">
          <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <li>
        <a href="/request/list/1">
          <i class="zmdi zmdi-invert-colors"></i> <span>요청관리</span>
        </a>
      </li>

      <li>
        <a href="/item/list/1">
          <i class="zmdi zmdi-format-list-bulleted"></i> <span>재고관리</span>
        </a>
      </li>

      <li>
        <a href="/board/list/1">
          <i class="zmdi zmdi-grid"></i> <span>게시판</span>
        </a>
      </li>

      <li>
        <a href="calendar.html">
          <i class="zmdi zmdi-calendar-check"></i> <span>Calendar</span>
          <small class="badge float-right badge-light">New</small>
        </a>
      </li>

      <li>
        <a href="/contract/list/1">
          <i class="zmdi zmdi-face"></i> <span>계약관리</span>
        </a>
      </li>

      <li>
        <a href="login.html" target="_blank">
          <i class="zmdi zmdi-lock"></i> <span>Login</span>
        </a>
      </li>

       <li>
        <a href="register.html" target="_blank">
          <i class="zmdi zmdi-account-circle"></i> <span>Registration</span>
        </a>
      </li>
	  
	  <li>
        <a href="https://themeforest.net/item/dashtreme-multipurpose-bootstrap4-admin-template/23059455" target="_blank" class="pro-btn">
          <i class="zmdi zmdi-cloud-upload"></i> <span>Upgrade To PRO</span>
        </a>
      </li>

      <li class="sidebar-header">근태관리</li>

      <div class="card mt-3">
        <div class="card-content">
            <div class="m-0">
                <div class="border-light">
                    <div class="card-body">
                      <h5 class="text-white mb-0" id="now">12 : 34 </h5>
                        
                      <p class="mb-0 text-white small-font">현재 시간</p>
                    </div>
                    <div class="card-body">
                      <table>
                        <tr>
                          <td><button type="button" id="punch_in" class="btn btn-light px-3"> 출근</button></td>
                          <td><button type="button" id="punch_out" class="btn btn-light px-3"> 퇴근</button></td>
                        </tr>
                      </table>
                    </div>
                </div>
            </div>
        </div>
     </div>

    </ul>
   
   </div>
   <!--End sidebar-wrapper-->